
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html, body {
  height: 100vh;
}

.app {
  margin: 0 auto;
  height: 100vh;
}

.page-header {
  height: 15%;
  margin: 0;
}

.page-header h2 {
  margin: 0;
}

.content {
  height: 80%;
}

.side-nav-container {
  height: 100%;
  overflow: scroll;
}

.course-code-search-bar-container {
  height: 10%;
}

.course-code-list-container {
  height: 90%;
}

.course-code-list-item:focus,
.course-code-list-item.active
{
  outline: none;
}

.detail-panel-container {
  height: 100%;
  overflow: scroll;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
