@import "sideNav.css";
@import "detailPanel.css";
@import "header.css";

html, body {
  height: 100%;
  overflow: auto;
}

#root, .app {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 90%;
}


/**************************/
/* Override bootstrap css */
/**************************/

* {
  border-radius: 0 !important;
}
