@import "_palette.css";

.detail-panel-container {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
}

.level-tabs-container {
    margin-bottom: 15px;
}

.course-list-container .panel {
    margin-bottom: 10px;
}

.course-list-item h4, .panel-heading {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-list-item .panel-heading-clickable {
    padding: 15px;
}

.course-list-item.not-offering .panel-heading-clickable {
    color: var(--grey-level-2);
}

