@import "_palette.css";

.page-header {
  position: relative;
  margin: 0;
  border-bottom: 0;
}

.page-header h2 {
  margin: 0;
}

.header-bar-container {
  background-color: var(--grey-primary);
}

.logo-container {
  text-align: center;
}

#logo {
  margin: -15px;
  height: 100px;
}

.colour-canvas-container {
  height: 15px;
}

.colour-canvas-bar {
  height: 100%;
}

#canvas-1 {
  background-color: var(--gold-level-1);
}

#canvas-2 {
  background-color: var(--gold-level-2);
}

#canvas-3 {
  background-color: var(--gold-level-3);
}

#canvas-4 {
  background-color: var(--gold-level-4);
}